<% if (title) { %>
<h1 class="all-forms"><%= title %></h1>
<% } else { res.redirect('/') } %> <p><%- messages() %></p>

<form id="login-form" class="all-forms" action="/account/login" method="post">
  <label class="labels" for="account_email"> Email:<br /> </label>
  <input class="inputs" type="email" id="account_email" name="account_email" /><br />
  <label class="labels" for="account_password"> Password:<br /> </label>
  <input class="inputs" type="password" id="account_password" name="account_password" /><br />
  <input class="submits"type="submit" value="Login" />
  <p>No Account?</p>
  <span><a href="/account/register">Sign-up</a></span>
</form>
