<% if (title) { %>
<h1 class="all-forms"><%= title %></h1>
<% } else { res.redirect('/') } %> 
<p> <%- messages() %> </p>



<h2>Welcome <%- locals.accountData.account_firstname %></h2>
<p><a href="./update/<%=locals.accountData.account_id%>">Update Account Information</a></p>
<% if (locals.accountData.account_type == 'Admin' || locals.accountData.account_type == 'Employee') { %>
    <h2>Inventory Management</h2>
    <p><a href="/inv/">Go to Inventory Management</a></p>
  <% } %>
<h2>Message Center</h2>
<p>Unread Messages</p>
<p><a href="/message/">Inbox</a></p>