<% if (title) { %>
    <h1 class="all-forms"><%= title %></h1>
    <% } else { res.redirect('/') } %> 
    
    <%- messages() %>
    
    <form id="register-form" class="all-forms" action="/account/register" method="post">
      <label class="labels"  for="account_firstname">Firstname*<br></label>
      <input class="inputs" type="text" name="account_firstname" required value="<% locals.account_firstname %>"><br>

      <label class="labels" for="account_lastname">Lastname*<br></label>
      <input class="inputs" type="text" name="account_lastname" required value=" <% locals.account_lastname %>"><br>

      <label class="labels" for="account_email">Email Address*<br></label>
      <input class="inputs" type="email" name="account_email" required value=" <% locals.account_email %>"><br>

      <label class="labels" for="account_password">Password*<br></label>
      <input class="inputs" type="password" name="account_password" id="accountPassword" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?=.*\s).{12,}$" required title="All fields are required. The password must be at least 12 characters in length, minimum, contain at least 1 capital letter, at least 1 number,
      and at least 1 special character"><br>

      <input class="submits" type="submit" value="Register">

    </form>

<!-- Implement Styling valid/inputs -->
<!-- Implement Hide password -->