<head>
    <meta charset="UTF-8">
    <Meta http-equiv="X-UACompatible" content="IE=edge">
    <meta name="viewport" content="width=device-width", intial-scale="1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/site/favicon-32x32.png">
    <title><%- title %> | CSE 340 App</title> 
    <!-- remember that ejs assumes that all static files are inside the public folder -->
    <link rel="stylesheet" href="/css/styles.css">
</head>