<h1>Welcome to CSE Motors</h1>
<div id="herodiv">
  <div id="heromessage">
    <h3>DMC Delorean</h3>
    <p>3 Cup Holders</p>
    <p>Superman doors</p>
    <p>Fuzzy dice</p>
    <img src="/images/site/own_today.png" alt="" />
  </div>
  <div id="heroimage">
    <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean" />
  </div>
</div>

<section id="delorean-section">
    <div id="upgrades">
        <div class="upgradeimgs">
            <img src="/images/upgrades/flux-cap.png" alt="flux-cap">
        </div>
        <div class="upgradeimgs">
            <img src="/images/upgrades/flame.jpg" alt="flame">
        </div>
        <div class="upgradeimgs">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="upgrade">
        </div>
        <div class="upgradeimgs">
            <img src="/images/upgrades/hub-cap.jpg" alt="hub-cap">
        </div>
    </div>
    <div id="reviews">
        <p>"So fast it's almost like traveling in time (4/5)"</p>
        <p>"Coolest ride on the road.(4/5)</p>
        <p>"I'm feeling McFly! (5/5)"</p>
        <p>"80's Livin and I love It (5/5)"</p>
    </div> 
    
</section>
