<% if (title) { %>
<h1 class="all-forms"><%= title %></h1>
<%} else { res.redirect('/') } %> <p> <%- messages() %> </p>

<div id="management-links">
  <a href="/inv/add-classification">Add New Classification</a>
  <a href="/inv/add-inventory">Add New Inventory</a>
</div>

<h2>Manage Inventory</h2>
<p>Select a classification</p>
<%- classificationSelect %>

<table id="inventoryDisplay"></table>

<noscript>JavaScript must be enabled to use this page.</noscript>



<script src="../../js/inventory.js"></script>

